<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Final Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/bulma-timeline.min.css">
    <link rel="stylesheet" href="../../css/main.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h1 class="text-primary">Data Center</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="../../index.html">Home </a>
                    </li>
                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Blog</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="blog-v1.html">Blog version 1</a>
                            <a class="dropdown-item active" href="blog-v2.html">Blog version 2</a>
                        </div>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="btn btn-outline-primary" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card my-3">
                        <a href="#">
                            <img src="../../img/6.jpg" class="img-fluid w-100 round" alt="">
                        </a>
                        <div class="section" style="padding: 2rem 1.25rem">
                            <a href="#">
                                <h1 class="text-primary">First Blog</h1>
                            </a>
                            <small>
                                <i class="fas fa-calendar-alt"></i>
                                <time datetime="2019-03-23">23 Meret, 2019</time>
                                <div class="byline">

                                </div>
                            </small>

                            <p class="text-justify py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Praesent aliquet sapien ac velit volutpat sagittis. Vestibulum eu nunc eget risus
                                laoreet mollis nec sit amet libero. Cras tempor lorem sit amet tempus laoreet. Fusce
                                vitae est elit. Maecenas ac augue hendrerit, lacinia eros nec, elementum purus.</p>
                            
                            <p class="text-justify py-2">Donec sed sem at enim bibendum molestie eu ut nisl. Suspendisse dignissim eu leo a malesuada. Curabitur porta orci quam, hendrerit rutrum turpis malesuada sit amet. Praesent facilisis eu arcu a placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam convallis neque in odio hendrerit, eu accumsan arcu blandit.</p>
                            <h3>This is a first blog</h3>
                            <p>There are a few things to verify:</p>
                            <ul class="text-justify">
                                <li>The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice.</li>
                                <li>They should show at the very top of the blog index page, even though they could be several posts back chronologically.</li>
                                <li>They should still show up again in their chronologically correct postion in time, but without the sticky indicator.</li>
                                <li>If you have a plugin or widget that lists popular posts or comments, make sure that this sticky post is not always at the top of those lists unless it really is popular.
                                    </li>
                            </ul>

                            <button class="btn btn-sm bg-primary">Server</button>
                            <button class="btn btn-sm bg-primary">First</button>
                            <button class="btn btn-sm bg-primary">Blog</button>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card my-3">
                        <div class="section text-center" style="padding: 2rem 1.25rem">
                            <h4>Follow Us</h4>
                            <a href="#">
                                <i class="fab fa-facebook-square text-primary mx-1 f-2"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram text-primary mx-1 f-2"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-square text-primary mx-1 f-2"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube-square text-primary mx-1 f-2"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-github-square text-primary mx-1 f-2"></i>
                            </a>
                        </div>

                        <div class="section text-center" style="padding: 2rem 1.25rem !important">
                            <h4>Popular Post</h4>
                            <hr>
                            <a href="#">
                                <div class="card my-2">

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-img">
                                                <img src="../../img/6.jpg" class="img-fluid img w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col px-0">
                                            <div class="card-title text-left mb-0">
                                                <h5 class="text-primary" style="margin:0">First Blog</h5>
                                                <small class="text-gray">23 Maret, 2019</small>
                                            </div>
                                            <div class="card-text text-left">
                                                <p class="text-gray" style="font-size:12px; margin-bottom:0;">Lorem ipsum dolor sit, amet
                                                    consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="card my-2">

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-img">
                                                <img src="../../img/2.jpg" class="img-fluid img w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col px-0">
                                            <div class="card-title text-left mb-0">
                                                <h5 class="text-primary" style="margin:0">Second Blog</h5>
                                                <small class="text-gray">23 Maret, 2019</small>
                                            </div>
                                            <div class="card-text text-left">
                                                <p class="text-gray" style="font-size:12px; margin-bottom:0;">Lorem ipsum dolor sit, amet
                                                    consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="card my-2">

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-img">
                                                <img src="../../img/3.jpg" class="img-fluid img w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col px-0">
                                            <div class="card-title text-left mb-0">
                                                <h5 class="text-primary" style="margin:0">Third Blog</h5>
                                                <small class="text-gray">23 Maret, 2019</small>
                                            </div>
                                            <div class="card-text text-left">
                                                <p class="text-gray" style="font-size:12px; margin-bottom:0;">Lorem ipsum dolor sit, amet
                                                    consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="card my-2">

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-img">
                                                <img src="../../img/4.jpg" class="img-fluid img w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col px-0">
                                            <div class="card-title text-left mb-0">
                                                <h5 class="text-primary" style="margin:0">Fourth Blog</h5>
                                                <small class="text-gray">23 Maret, 2019</small>
                                            </div>
                                            <div class="card-text text-left">
                                                <p class="text-gray" style="font-size:12px; margin-bottom:0;">Lorem ipsum dolor sit, amet
                                                    consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="card my-2">

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-img">
                                                <img src="../../img/5.jpg" class="img-fluid img w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col px-0">
                                            <div class="card-title text-left mb-0">
                                                <h5 class="text-primary" style="margin:0">Fifth Blog</h5>
                                                <small class="text-gray">23 Maret, 2019</small>
                                            </div>
                                            <div class="card-text text-left">
                                                <p class="text-gray" style="font-size:12px; margin-bottom:0;">Lorem ipsum dolor sit, amet
                                                    consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="section text-center" style="padding: 2rem 1.25rem !important">
                            <h4>Categories</h4>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Data Center
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Colocation
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Database
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Markup
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">1</span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Server
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">16</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cloud
                                    <span class="badge bg-primary badge-pill" style="color: #fff;">12</span>
                                </li>
                            </ul>
                        </div>

                        <div class="section" style="padding: 2rem 1.25rem !important">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" id="button-addon2"><i
                                            class="fas fa-search"></i></button>
                                </div>
                            </div>

                        </div>

                        <div class="section" style="padding: 2rem 1.25rem !important">
                            <h4 class="text-center">Recent Comment</h4>
                            <div class="comment">
                                <div class="line text-gray">
                                    <i class="fas fa-comment"></i>
                                    <span>John Doe on <a href="#" class="text-primary">First Blog</a></span>
                                    <hr>
                                </div>
                                <div class="line text-gray">
                                    <i class="fas fa-comment"></i>
                                    <span>Marrie on <a href="#" class="text-primary">Fourth Blog</a></span>
                                    <hr>
                                </div>
                                <div class="line text-gray">
                                    <i class="fas fa-comment"></i>
                                    <span>Michiel on <a href="#" class="text-primary">First Blog</a></span>
                                    <hr>
                                </div>
                                <div class="line text-gray">
                                    <i class="fas fa-comment"></i>
                                    <span>Brown on <a href="#" class="text-primary">Third Blog</a></span>
                                    <hr>
                                </div>
                                <div class="line text-gray">
                                    <i class="fas fa-comment"></i>
                                    <span>Bean on <a href="#" class="text-primary">Fifth Blog</a></span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="footer primary-nt-hv">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="py-3">&copy; Copyright 2019. <a href="#">Data Center</a></p>

                </div>
                <div class="col">
                    <div class="text-right">
                        <a target="blank" href="https://www.facebook.com/brownUp505" class="icon"><i
                                class="fab fa-facebook-square text-dark"></i></a>
                        <a target="blank" href="https://www.instagram.com/pratamairfan_/" class="icon"><i
                                class="fab fa-instagram text-dark"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="../../js/main.js"></script>

</html>